---
kind: Service
apiVersion: v1
metadata:
  name: sysdig-agent
  namespace: {{ sysdig_agent_namespace }}
  labels:
    app: sysdig-agent
spec:
  selector:
    app: sysdig-agent
  ports:
  - protocol: TCP
    port: 7765
    targetPort: 7765
